*{
    padding:0;
    margin: 0;
}
nav{
    height:50px;
    background-color: black;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li > a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-in 1s;
}
li > a:hover{
      color:rgb(90, 197, 41);

}
h1{
    padding-top: 80px;
    text-align: center;
}
li{
    text-align: center;
}

#container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 10%;
    padding-top: 100px
}
div>img{
    height: 250px;
    width:300px;
    border: 2px solid black;
    border-radius: 2px;
    transition: border-radius .5s  ease-in 1s,border .5s  ease-in 1s;
}
div>img:hover{
    border-radius: 50%;
    border: transparent;
}
#back{
    margin-left: 38%;
    height: 250px;
    width:300px;
    padding-top: 20px;
}

footer{
    margin-top: 40px;
    height:70px;
    background-color: black;
}
footer>p{
    color: white;
    text-align: center;
    padding-top: 30px;
}
a{
    text-decoration: none;
    color:black;
    font-weight:bold;
    transition: color 0.5s ease-in 1s;
}
.See{
    padding-top:20px;
}
a:hover{
    color:blueviolet;
}
